*{
    font-family: Arial,sans-serif;
    box-sizing: border-box;
    max-width: 400px;
    text-align: center;
    padding: 2px;
    font-size: 20px;
    line-height: 40px;
    
}
section{
    border: 0.5px solid gainsboro;
    border-radius: 15px;
    position: relative;
}
.title{
    color: white;
    background-color: #ed1a35;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: bolder;
    font-size: 25px;
    padding: 10px;
}
.button{
    padding: 10px;
}
.button1{
    background: linear-gradient(to right, #8B0000, #ED1A35);
    border: none;
    color: white;
    padding: 5px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
}
.button2{
    background-color:#ffffff;
    border: 1px solid #ed1a35;
    color: #ed1a35;
    padding: 1px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
}
.border-bottom{
    width: 500;
    border-bottom: 1px solid gainsboro; /* Viền dưới màu đỏ */
    padding-bottom: 5px
}
.gray{
    color: #676767;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}
.hot-label{
    position: absolute;
    top: -29px;
    right: 20px;
    width: 40px;
    height: auto;
}
