body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 400px;
    background-color: #f8f9fa;
    margin: 0;
}

.todo-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    width: 350px;
    text-align: center;
}
h2 {
    margin-bottom: 15px;
}
.input-group {
    display: flex;
    gap: 5px;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
}


ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.delete-btn {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;

}