*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    gap: 10px;
    border: 1px solid ;
    box-shadow: 3px 3px;
    border-radius: 5px;
}
input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(139, 139, 139);
    
}
label{
    color: rgb(98, 98, 98);
    
}
button{
    background-color: #007bff;
    color: white;
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 5px;
}